// noinspection CssUnknownTarget
@import '~styles/mixins';

.blockassetLogo {
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 8px;
  align-items: center;

  @include b-d(xxl) {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 38px;
  }

  .textBlockasset {
    @include b-d(xxl) {
      display: none;
    }
  }
}
